body {
  color: rgb(10, 36, 11);  
}

img {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.field {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  cursor: url(../img/hammer-cursor.png), auto;
  margin-bottom: 150px;
}

.field__cell {
  display: flex;
  box-sizing: border-box;
  background-color: #9fc771;
  border-radius: 25px;
  border-color: black;
  border: 2px solid;
  width: 25%;
  height: 25%;
  align-items: center;
  justify-content: center;
}